<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>-->
    <!-- we have used express ejs layout which will put it in respective place -->
    <link href="/css/home.css" type="text/css"rel="stylesheet">
    <h1>Codecamp</h1>
<!-- </body>
</html> -->